:root{
    --primary-color:rgb(231, 240, 255);
    --secondary-color: rgb(0, 0, 0);
    --heading-font-family: 'Merriweather', serif;
    --paragraf-font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
}
h1,h2,h3,h4{
    font-family: 'Merriweather', serif; 
    font-weight: 700;
}
h4{
    font-size: 48px;
}
p{
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0 10px;

    
}
img{
    display: block;
    margin: 0 auto;
}
footer{
    margin-top: 80px;
}
footer .email-link{
    display: block;
    margin: 60px 0 30px 0;
}
footer .email-link{
    text-decoration: none;
color:black;
font-size: 24px;
text-align: center;
}
footer .email-link:hover{
    color:rgb(67, 147, 232);
}
footer .social-links a{
    margin: 0 20px;
    color: rgb(231, 201, 254);
    background-color: aqua;
    padding:10px 14px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}
footer .social-links a:hover{
    color:white;
background:rgb(67, 147, 232);
}
footer .contact-box{
    background-color: rgb(245, 234, 255, 0.3);
    padding: 30px 120px;
    border-radius: 10px;
    text-align: left;
    
}
footer .contact-box p{
    margin: 0;
    
}
footer .contact-box a{
    padding: 10px 20px;
    font-size: 20px;
  
}

.page{
    text-align: center;
    margin-bottom: 20px;
}
.first-page{
    background: var(--primary-color);
    
    padding: 40px 20px 120px 20px;
    color:black;
}
.my-face{
    border-radius: 50%;
    width: 250px;
   /* box-shadow: 0px 4px 8px 0px rgb(255, 255, 255);
*/}
.first-page h3{
    font-size: 36px;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
    margin:0;
}
.first-page h1{
    font-size: 80px;
    font-weight: bold;

    line-height: 1.5;
   
}
.first-page p{
    font-size: 24px;
    
}


.btn-branding{
    border-radius: 4px;
    color:  rgb(255, 255, 255);;
    background: rgb(67, 147, 232);
    line-height: 27px;
    font-size: 22px;
    padding: 20px 30px;
    margin: 10px;
    box-shadow: 0px 9px 8px -5px rgba(0,0,0,0.5);
}

.row img{
    box-shadow: 0px 9px 8px -5px rgba(0,0,0,0.3);
    
    border-radius: 10px;}
    .content-container{
        margin: 100px;
         padding: 40px 20px 120px 20px;
    }
    .content-container h1{
        font-size: 50px;
    }
    .content-container  p{
        margin: 0 auto;
    }
    .btn-branding-outline{
        border-radius: 4px;
        border: 1px rgb(67, 147, 232) solid;
        color: rgb(67, 147, 232);
        line-height: 27px;
        font-size: 22px;
        padding: 20px 30px;
        margin: 10px;
    }
    .content-container .btn-branding{
        background:rgb(30, 214, 255);
        font-size: 20px; 
        margin: 0
        ;
        padding: 15px 25px;
    }
    .content{
        margin: 20px;
       
    }
    
    .full-height-photo{
        margin:0 auto;
    width: 350px;
}
.content h1{
    text-align: center;
    
    font-size: 60px;
}
.content h3{
    font-size: 24px;
    font-family: var(--paragraf-font-family);
    line-height: 2;
    margin: 20px 0 0;
}
.content p{
    
    font-size: 15px;
    
}
.contant-container{
    margin-top:120px;
}
li{
    list-style: none;
    display: inline;
    line-height: 42px;
    margin-left: 15px;
    font-weight: 600;
    font-size: 18px;
    opacity: 70%;
    
}
nav a{
    text-decoration: none;
    color: black;
    transition: all 100ms ease-in-out;
}

ul{
    padding: 0;
    margin: 0;
}
nav {
    padding: 20px 0;
}
.logo {
    max-height: 40px;
  }
  nav li.active a, nav a:hover{
    color:rgb(61, 119, 200);
  }
   @media (max-width:768px) { 
    .first-page h1{font-size:50px !important;}
    .row p{display: block; margin: 0 40px; }
.content-container{

   text-align: center; 
   margin-top: 0px;
}

.contant-container h1{
    font-size: 30px;
} 
footer .contact-box{
    padding:30px;
}
h4{
font-size: 26px;
}
footer .contact-box a{font-size: 16px;}
   }
    /*
*
}*/
/*.projects h1{font-size: 62px;}
.weather-picture {
    width: 580px !important;
}
.game-picture{
    width:355px !important;
}*/
/*.btn-branding-outline{
    border-radius: 4px;
    border: 1px rgb(67, 147, 232) solid;
    color: rgb(67, 147, 232);
    
    line-height: 27px;
    font-size: 22px;
    padding: 20px 30px;
    margin: 10px;
}*/